.drag {
  display: flex;
  width: 100%;

  padding: 4rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
  border: var(--border);
  border-style: dashed;
  border-radius: 2rem;
  transition: var(--transition);
}

.drag:is(:hover, :active) {
  background-color: var(--g4);
  transition: var(--transition);
}

.drag p {
  margin: 0;
}

.input {
  display: none;
}

.list,
.preview {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttons {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding: 1rem 0;

  gap: 1rem;
  justify-content: center;
  background-color: var(--g5);
  z-index: 50;
}

.added {
  border-bottom: var(--border);
}

.buttons :is(button, label) {
  flex: 0 1 auto;
}

.preview h2 {
  font-weight: 400;
}
